Flask>=1.0.2
Flask-API>=1.0
Flask-Cors>=3.0.4
jsonschema>=2.6.0
git+https://github.com/SKA-ScienceDataProcessor/integration-prototype@feature/configuration_db#egg=config_db&subdirectory=sip/execution_control/configuration_db/redis
