# Python temp files
__pycache__/
*.pyc
*.py~

# PyCharm project file
/.idea/
/.vscode/

# Vim tempory files.
*.swp

# MacOS folder attributes files
.DS_Store

# SIP logging aggregator output
all.log

# Python venv folder
/venv/

# Files created during testing
/_build/
test_reports.xml

# Files created by the Python build system
/build/
/ska_sip.egg-info/
