[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jsonschema = ">=2.6.0"
skasip-config-db = ">=1.1.1"
skasip-logging = ">=1.0.13"
Flask = ">=1.0.2"
Flask-API = ">=1.0"
Flask-Cors = ">=3.0.4"

[requires]
python_version = "3.6"
