<script type='text/javascript'>
function showTemplate(sel){

locations =[ "", /*this remains blank for first selection in drop-down list*/

/*option 1*/
" This is template 1 that  will appear in a textarea keeping its formatting as  is. ",

/*option 2*/
" This is template 2 that  will appear in a textarea keeping its  formatting as  is. Credentials:  Contact Info: ",

/*option 3*/
" This is template 3 that  will appear in a textarea keeping its formatting as  is. Donec tortor lorem,  ornare vitae commodo nec,  sagittis et nunc. Maecenas sagittis quam ",

/*option 4*/
"etc",

/*option 5*/
"etc...", ];
                   srcLocation = locations    [sel.selectedIndex];
   if (srcLocation != undefined && srcLocation != "") {
                  document.getElementById('sbi-config').innerHTML= srcLocation;
 }
};


</script>


<!-- https://stackoverflow.com/questions/7286212/loading-text-into-textarea-based-on-drop-down-selection?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa -->
<form method="post">

  <!-- DROP DOWN FOR TEMPLATE -->
  <div class="form-group">
    <label>SBI Templates:</label>
    <select class="form-control form-control-sm"
            onchange="showTemplate(this);"
            id="sbi-template" value="">
      <option selected="selected" value="" id="Templates">Select template...
      </option>
      <option>example-1</option>
      <option>example-2</option>
      <option>example-3</option>
    </select>
  </div>

  <!-- CONFIG EDITOR TEXT AREA -->
  <div class="form-group">
    <label>Configuration:</label>
    <textarea class="form-control" id="sbi-config" name="sbi-config"
              rows="10">
Templates will auto-populate
here depending on the
selection made from the

[SBI Templates]

drop-down list.
    </textarea>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>


