<!-- https://getbootstrap.com/docs/4.0/components/forms/ -->
<!--<form method="POST">-->
  <!--<div class="form-group">-->
    <!--<label for="config_textarea">Configuration:</label>-->
    <!--<textarea name='raw_config', class="form-control" id="config_textarea" rows="4">-->
<!--Block configuration ...-->
    <!--</textarea>-->
  <!--</div>-->
  <!--<button type="submit" class="btn btn-primary">Submit</button>-->
<!--</form>-->

<script type='text/javascript'>
$(document).ready(function() {
    var max_fields      = 20;
    var container1      = $(".container1");
    var add_button      = $("#add_processing_block");
    var x = 1;
    var input_box = `
    <div id="processing_block_input">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"><a href="#" id="delete_block" class="delete">Delete</a></span>
        </div>
        <textarea class="form-control" name="processing_block_config[]"></textarea>
      </div>
    </div>
    `
    $(add_button).click(function(e) {
        e.preventDefault();
        if(x < max_fields) {
            $(container1).append(input_box);
            x++;
        }
        else {
          alert('Maximum number of processing blocks reached!')
        }
    });
    $(container1).on("click", "#delete_block", function(e) {
        e.preventDefault();
        //$(this).parent('div').remove();
        $("#processing_block_input").remove();
        x--;
    })
});
</script>

<form method="post">

  <div class="form-group">
    <label for="sbi-id">Scheduling Block Instance ID:</label>
    <div class="input-group mb-3">
      <input type="text" class="form-control" id="sbi-id"
             placeholder="YYYYMMDD-project-sbiXXX"
             name="sbi-id">
      <div class="input-group-append">
        <span class="input-group-text" id="basic-addon1">YYYYMMDD-project-sbiXXX</span>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="sub-array-id">Sub-array ID:</label>
    <select class="form-control form-control-sm" id="sub-array-id"
            name="sub-array-id">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>9</option>
      <option>10</option>
    </select>
  </div>
  <div class="form-group">
    <label>Processing Blocks:</label>
    <div class="container1">
      <button id="add_processing_block"
              class="btn btn-outline-primary">Add Processing Block</button>
      <input type="text" class="form-control" name="processing_block[]"/>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
