version: '3.6'

services:

  stage1:
    image: skasip/mock_workflow_stage:1.0.1
    command: [ '{{ stage.args }}' ]
    deploy:
      restart_policy:
        condition: none
      mode: replicated
      replicas: 1
      resources:
        limits:
          cpus: '1.0'
          memory: 1024M
