version: '3.6'

services:

  mock_workflow_stage:
    image: skasip/mock_workflow_stage:test
    args: ['{{ stage.args }}']
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: none
      resources:
        limits:
          cpus: '1.0'
          memory: 1024M

