click==6.7
Flask==1.0.2
Flask-API==1.0
gunicorn==19.9.0
itsdangerous==0.24
Jinja2==2.10
jsonschema==2.6.0
MarkupSafe==1.0
namesgenerator==0.3
redis==2.10.6
simplejson==3.16.0
skasip-config-db>=1.0.17
Werkzeug==0.14.1
