
<form id="new_sbi">

  <div class="form-group">
    <label>Template:</label>
    <select class="form-control form-control-sm"
            id="template" value="">
      <option selected="selected" value="">Select template...
      </option>
      <option>simple</option>
      <option>example-2</option>
      <option>example-3</option>
    </select>
  </div>

  <div class="form-group">
    <label>No processing blocks:</label>
    <input class="form-control form-control-sm"
           id="num_blocks" type="number" min="0" max="10" value="1">
  </div>

  <div class="form-group">
    <label for="project">Project:</label>
    <input class="form-control form-control-sm"
           id="project" type="text" value="sip">
  </div>

  <div class="form-group">
    <button type="button" onclick="update_editor(this);" class="btn btn-primary"
            id="update">Update Editor</button>
    <button type="submit" class="btn btn-primary" id="submit">Submit</button>
  </div>
<div id="sbi_notification"></div>
  <!-- Ace editor -->
  <div class="form-group">
    <div class="panel panel-default">
      <div class="panel-body">
        <style type="text/css" media="screen">
            #editor { height: 20rem; }
          </style>
        <div id="editor"></div>
      </div>
    </div>
  </div>
</form>



<!-- JSON EDITOR Config -->
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/clouds");
    editor.session.setMode("ace/mode/json");
    document.getElementById('editor').style.fontSize='14px';
    editor.session.setTabSize(2);
    editor.session.setUseSoftTabs(true);
    editor.setHighlightActiveLine(true);
    editor.setShowPrintMargin(false);
    editor.selection.clearSelection();

</script>

<!-- PREVENT FORM SUBMISSION ON ENTER -->
<script>
  $("#new_sbi").on("keyup keypress keydown", function(event) {
    if (event.which == 13) {
      event.preventDefault();
      return false;
    }
  });
</script>

<!-- LEAVE INPUT BOX FOCUS ON PRESSING ENTER -->
<script>
  $("#num_blocks").on("keydown", function(event) {
    if (event.which == 13) {
      $(this).blur();
    }
  });

  $("#project").on("keydown", function(event) {
    if (event.which == 13) {
      $(this).blur();
    }
  });

</script>

<!-- Update the JSON Editor based on forms -->
<script>
function update_editor() {
  $("#sbi_notification").addClass("alert alert-success hidden").html("Updated ...").fadeOut(0).slideDown(200).slideUp(700);
  <!--var editor = ace.edit("editor");-->
  <!--var num_blocks = $("#num_blocks").val();-->
  <!--editor.setValue("HELLO");-->
}
</script>


<!-- POPULATE JSON EDITOR BASED ON FORM -->
<script>
<!-- Function used to Zero Pad dates -->
function zeroPad(num, places) {
  var zero = places - num.toString().length + 1;
  return Array(+(zero > 0 && zero)).join("0") + num;
}

function update_template() {
  var editor = ace.edit("editor");
  var index = $("#template")[0].selectedIndex;
  console.log(index);
  var num_blocks = $("#num_blocks").val()
  console.log(num_blocks);
  var project = $("#project").val()
  console.log(project);

  <!--var host = window.location.origin-->
  <!--var url = `${host}/api/v1/scheduling-blocks`-->
  <!--$.getJSON(url, function(data) {-->
    <!--var num_blocks_2 = data['scheduling_blocks'].length;-->
    <!--console.log(num_blocks_2)-->
  <!--});-->

  var templates = [
    undefined,
    {
      id: '', sub_array_id: 'subarray-01',
      processing_blocks: []
    }
  ];

  template = templates[index];

  if (template != undefined)
  {
    var date = new Date();
    var year = date.getFullYear();
    var month = zeroPad(date.getMonth(), 2);
    var day = zeroPad(date.getDate(), 2);

    template['id'] = `${year}${month}${day}-${project}-sbi001`;
    for (i = 0; i < num_blocks; i++) {
      template['processing_blocks'].push({id: 'pb-'+zeroPad(i, 3)})
    }
    var json_doc = JSON.stringify(template, null, 2);
    console.log(json_doc);
    editor.setValue(json_doc);
    editor.selection.clearSelection();
  }
  else {
    editor.setValue("");
    editor.selection.clearSelection();
  }
}



<!-- Function to update JSON editor on changing form fields -->
$("#template, #num_blocks, #project").change(function() {
  update_template();
});
</script>



<!-- SUBMIT BUTTON CLICK FUNCTION -->
<script>
$("#submit").click(function() {
  <!--alert( "Handler for .click() called." );-->
  var editor = ace.edit("json_editor");
  var config = editor.getValue()
  var host = window.location.origin
  var url = `${host}/scheduling-blocks`
  <!--$("#test-xxx").html("<div class="alert alert-success" role="alert">A simple success alert—check it out!</div>")-->
  $("#sbi_table").hide()
  <!--console.log(url)-->
  <!--console.log(config)-->
  <!--$.post(url, config);-->
});
</script>



