<!-- TODO(BM): replace with AJAX -->
<table id="sbi_table" class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">ID</th>
      <th scope="col">Subarray ID</th>
      <th scope="col">No. Processing Blocks</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
  {% for block in blocks %}
    <tr>
      <th scope="row">{{loop.index}}</th>
      <td><a href="/scheduling-block/{{ block['id'] }}">{{ block['id'] }}</a></td>
      <td>{{ block['sub_array_id'] }}</td>
      <td>{{ block['num_processing_blocks'] }}</td>
      <td>{{ block['status'] }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>


<!-- Data Table functions [This has to be below tabletables.js] -->
<script>
  $(document).ready( function () {
    $('#sbi_table').DataTable( {
      stateSave: true,
      lengthMenu: [[5, 10, 20, -1], [5, 10, 20, "All"]]
    });
  });
</script>

<!-- Functions for status badges -->
<script>
    $("td:contains('OK'), td:contains('SUCCESS')").wrapInner("<span class='badge badge-pill badge-success'></span>");
    $("td:contains('WAITING'), td:contains('WARNING')").wrapInner("<span class='badge badge-pill badge-warning'></span>");
    $("td:contains('FAILED'), td:contains('ERROR')").wrapInner("<span class='badge badge-pill badge-danger'></span>");
</script>

