<table id="id" class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">ID</th>
      <th scope="col">Subarray ID</th>
      <th scope="col">No. Processing Blocks</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
  {% for block in blocks %}
    <tr>
      <th scope="row">{{loop.index}}</th>
      <td><a href="/scheduling-block/{{ block['id'] }}">{{ block['id'] }}</a></td>
      <td>{{ block['sub_array_id'] }}</td>
      <td>{{ block['num_processing_blocks'] }}</td>
      {% if 'OK' in block['status'] %}
        <td><span class="badge badge-pill badge-success">{{ block['status'] }}</span></td>
      {% elif 'FAILED' in block['status'] %}
        <td><span class="badge badge-pill badge-danger">{{ block['status'] }}</span></td>
      {% else %}
        <td><span class="badge badge-pill badge-warning">{{ block['status'] }}</span></td>
      {% endif %}
    </tr>
  {% endfor %}
  </tbody>
</table>

<script src="{{ url_for('static', filename='js/datatables.js') }}"></script>
<script>
  $(document).ready( function () {
    $('#id').DataTable( {
      "lengthMenu": [[5, 10, 20, -1], [5, 10, 20, "All"]]
    });
  });
</script>




