  <!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/datatables.css') }}" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
    <link href="/static/css/nav.css" rel="stylesheet">

     <!-- Jquery has to be before bootstrap and datatables -->
    <script src="/static/js/jquery-3.3.1.min.js"></body>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/datatables.js"></script>
    <script src="/static/js/src-noconflict/ace.js"></script>

    <title>SIP Processing Controller Interface</title>
  </head>

  <body>

    {% include 'nav.html' %}


    <div class="container-fluid">
      <div class="row">
        <div class="col-sm">
          {% block container %}{% endblock %}
        </div>
      </div>
    </div>









</body>

</html>
