<nav class="navbar navbar-expand-md navbar-dark bg-dark">

  <div class="container-fluid">

    <!-- BRAND -->
    <a class="navbar-brand" href="{{ url_for('home.get')}}">SIP: Processing Controller</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- COLLAPSE -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">


      <ul class="navbar-nav mr-auto">

        <!-- HOME -->
        <li class={% if request.path == "/" %}"nav-item active"{% else %}"nav-item"{% endif %}>
        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
        </li>

        <!-- SBIs -->
        <li class={% if request.path == '/scheduling-blocks' %}"nav-item active"{% else %}"nav-item"{% endif %}>
        <a class="nav-link" href="/scheduling-blocks">SBIs<span class="sr-only">(current)</span></a>
        </li>

        <!-- PBs -->
        <li class="nav-item">
          <a class="nav-link" href="#">PBs<span class="sr-only">(current)</span></a>
        </li>

        <!-- SubArrays -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sub-array
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">subarray-01</a>
            <a class="dropdown-item" href="#">subarray-02</a>
          </div>
        </li>
      </ul>

    </div>
  </div>
</nav>
