numpy>=1.9
scipy
six
imagesize
markupsafe
pytz
pyfits>=3.3
wcsaxes
reproject
astropy>=2.0
alabaster
photutils
scikit-image
dask
distributed
paramiko
toolz
graphviz
pandoc
sphinx_rtd_theme
psutil
cloudpickle
seqfile
h5py
jsonschema

