{
    "id": "{{ workflow_id }}",
    "version": "{{ workflow_version }}",
    "stages": [
    {
        "id": "mock_workflow_stage",
        "version": "1.0.0",
        "type": "processing",
        "dependencies": [],
        "resources_required": [],
        "ee_config": {},
        "app_config": {}
    }
    ]
}
